{% extends "base.html" %}
{% load static %}



{% block head_block %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/quiz_complete/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/navbar_student.css' %}">
    
    <script defer src="{% static 'javascript/quiz_complete/script.js' %}"></script> 

{% endblock head_block %}
    



{% block body_block %}


    {% include 'components/navbar_student.html' %}
    
    <div class="wrapper">
        <h1 id="quiz_status" class="raleway-bold">Quiz Complete!</h1>
        <h2 id="quiz_title" class="raleway-bold" style="text-align: center;">quiz title</h2>
        <p id="score" class="roboto-bold">0 / 20</p>
        <p id="status" class="roboto-bold">null</p>
        <p id="total_points" class="roboto-bold">0</p>
        <button id="continue" onclick="window.location.href='{% url 'student-dashboard' %}'" class="roboto-bold">Try Again?</button>
        {% comment %} <button id="try_quiz" class="roboto-light">Try again?</button> {% endcomment %}
    </div>

{% endblock body_block %}
    
