{% extends "base.html" %}
{% load static %}



{% block head_block %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/student_dashboard/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/navbar_student.css' %}">
    <script> document.cookie = "csrftoken={{ csrf_token }}"; // Set CSRF token in cookies  </script>
    <script defer src="{% static 'javascript/student_dashboard/script.js' %}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock head_block %}
    



{% block body_block %}


    {% include 'components/navbar_student.html' %}

    <main>
    
        <section class="dashboard">
            <div class="wrapper">
                <div class="card-small total-quizzes-taken">
                    <h3 class="raleway-bold">Total Quizzes Taken</h3>
                    <p class="total-quizzes-taken-number roboto-bold">214</p>
                    <div class="text-stats">
                        <div>
                            <h4 class="roboto-bold">187</h4>
                            <p class="roboto-light">Passed</p>
                        </div>
                        <div>
                            <h4 class="roboto-bold">27</h4>
                            <p class="roboto-light">Failed</p>
                        </div>
                    </div>
                </div>
                <div class="card-small total-correct-answers">
                    <h3 class="raleway-bold">Total Correct Answers</h3>
                    <p class="total-correct-answers-number roboto-bold">78%</p>
                    <div class="text-stats answers">
                        <h4 class="roboto-bold">54,180</h4>
                        <p class="roboto-light">questions answered <strong>correctly</strong>
                    </div>
                </div>
                <div class="card-small total-wrong-answers">
                    <h3 class="raleway-bold">Total Wrong Answers</h3>
                    <p class="total-wrong-answers-number roboto-bold">22%</p>
                    <div class="text-stats answers">
                        <h4 class="roboto-bold">15,240</h4>
                        <p class="roboto-light">questions answered <strong>incorrectly</strong>
                    </div>
                </div>
                <div class="card-small most-recent-quiz">
                    <h3 class="raleway-bold">Most Recent Quiz</h3>
                    <p class="raleway-bold quiz-title">Introduction to Python</p><br>
                    <p class="roboto-bold score-set">16 / 20</p><br>
                    <p class="roboto-light">Status: <span id="quiz-status">PASSED</span><br>
                    <button class="roboto-bold view-quiz-button" id="view-quiz-button">View</button>
                </div>
            </div>
            <div class="wrapper">
                <div class="card-large">
                    <h3 class="raleway-bold">Monthly correct and wrong answers</h3>
                    <canvas id="monthlyChart"></canvas>
                </div>
                <div class="card-large">
                    <h3 class="raleway-bold">Total Quizzes Taken per Month</h3>
                    <canvas id="quizzesChart"></canvas>
                </div>
            </div>
        </section>
    </main>

    
{% endblock body_block %}
    