{% extends "base.html" %}
{% load static %}



{% block head_block %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/student_dashboard/style.css' %}">
    <script> document.cookie = "csrftoken={{ csrf_token }}"; // Set CSRF token in cookies  </script>
    <script defer src="{% static 'javascript/student_dashboard/script.js' %}"></script>

{% endblock head_block %}
    



{% block body_block %}


    {% include 'components/navbar.html' %}

    <main>
    
        <section class="dashboard">
            <div class="wrapper">
            

                <div class="card-small total-quizzes-taken">
                    <h3>Total Quizzes Taken</h3>
                    <p class="total-quizzes-taken-number">0</p>
                </div>
                <div class="card-small total-correct-answers">
                    <h3>Total Correct Answers</h3>
                    <p class="total-correct-answers-number">0</p>
                </div>
                <div class="card-small total-wrong-answers">
                    <h3>Total Wrong Answers</h3>
                    <p class="total-wrong-answers-number">0</p>
                </div>
                <div class="card-small most-recent-quiz">
                    <h3>Most Recent Quiz</h3>
                </div>
            </div>
            <div class="wrapper">
                <div class="card-large">
                    <p>Text</p>
                </div>
                <div class="card-large">
                    <p>Text</p>
                </div>
            </div>
        </section>
    </main>

    
{% endblock body_block %}
    