.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 72px;
}

.left h1 {
    font-family: "Raleway";
    color: #0F0A0A;
    font-size: 32px;
    font-weight: 800;
}

.left span {
    color: #002157;
}

.right button {
    min-width: 90px;
    border-radius: 4px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    padding: 8px;
    margin: 0 8px;
}

.login {
    color: #002157;
    background-color: white;
    border: 2px solid #002157;
}

.signup {
    color: white;
    background-color: #002157;
    border: 2px solid #002157;
}

/* hero section */

.wrapper {
    display: flex;
    width: 50%;
}


/* hero section */

.wrapper {
    width: 100%;
    padding: 36px 72px;
}

.hero-section {
    display: flex;
}

.hero-left {
    width: 60%;
}

.hero-right {
    width: 40%;
}

/* hero-left */

.hero-left h1{
    font-family: "Raleway";
    font-size: 80px;
}

.hero-left p{
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 300;
}

/* hero-right */

.hero-right {
    background-image: url("Online\ test-bro.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* information-section */

.wrapper-info {
    width: 100%;
    background-color: #EFEFF0;
    padding: 36px 72px;
}

.information-section {
    padding: 2em;
}

.information-section h1{
    padding: 0.5em 0;
    font-family: "Raleway";
    font-size: 80px;
    text-align: center;
}

.information-cards {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.information-cards h3, p {
    font-family:"Roboto";
}

.information-cards h3{
    font-family:"Roboto";
    font-size: 48px;
}

.information-cards p {
    font-size: 32px;
    font-weight: 300;
}

.card {
    background-color: #FCFCFC;
    width: 30%;
    padding: 2em;
    border-radius: 1em;
}

/* call-to-action */

.wrapper {
    display: flex;
    width: 50%;
}

.cta {
    background-color: #558EEA;
    padding: 2em;
    display: flex;
}

.cta-left {
    width: 60%;
}

.cta-right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta h4 {
    font-family: "Roboto";
    font-weight: 800;
    font-size: 40px;
    color: #FCFCFC;
}

.cta p {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 32px;
    color: #FCFCFC;
}

.cta button {
    padding: 0.5em 2em;
    background: none;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 600;
    border: 4px solid #FCFCFC;
    border-radius: 1rem;
    color: #FCFCFC;
}

/* footer */

.footer {
    padding: 1em;
    text-align: center;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 300;
    color: #FCFCFC;
    background-color: #2B3341;
}