{% extends "base.html" %}
{% load static %}



{% block head_block %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Dashboard</title> 
<script>
    document.cookie = "csrftoken={{ csrf_token }}"; // Set CSRF token in cookies
</script>
<script defer src="{% static 'javascript/admin_dashboard/script.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/admin_dashboard/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/components/navbar_admin.css' %}">
    
{% endblock head_block %}
    



{% block body_block %}
    {% include 'components/navbar_admin.html' %}


    
{% endblock body_block %}
    