{% extends "base.html" %}
{% load static %}



{% block head_block %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Dashboard</title> 
<script defer src="{% static 'javascript/admin_dashboard/script.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/admin_dashboard/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/components/navbar_admin.css' %}">
<link rel="stylesheet" href="{% static 'css/components/logout_admin.css' %}">
<script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock head_block %}
    



{% block body_block %}
    {% include 'components/navbar_admin.html' %}

    <div class="dashboard-container">

        <div class="montly-container">
            <h1 class="raleway-bold">Overall quizzes taken every month</h1>
            <div class="monthly-chart">
                <canvas id="monthly-chart"></canvas>
            </div>
        </div>

        <div class="numbering-container">

            <div class="numbering-layout">
                
            </div>

        </div>

    </div>
    
    <div class="pop-up" id="logout-form-pop" style="display: none;">
        <div class="pop-up-content">
            <h1 class="raleway-bold">Logout</h1>
            <h6 class="raleway-regular">Are you sure you want to logout?</h6>
            <div class="pop-up-but">
                <button id="cancel-logout-but">Cancel</button>
                <button id="logout-but" >Logout</button>
            </div>
        </div>
    </div>
    
    <div class="pop-up" id="edit-form-pop" style="display: none;">
        <div class="pop-up-content">
            <h1 class="raleway-bold">Confirm changes</h1>
            <h6 class="raleway-regular">Are you sure you want to apply changes to User@email?</h6>
            <div class="pop-up-but">
                <button id="cancel-save-but">Cancel</button>
                <button id="save-but" >Save</button>
            </div>
        </div>
    </div>
    
    <div class="pop-up" id="delete-form-pop" style="display: none;">
        <div class="pop-up-content">
            <h1 class="raleway-bold">Delete</h1>
            <h6 class="raleway-regular">Are you sure you want to delete User@email?</h6>
            <div class="pop-up-but">
                <button id="cancel-delete-but">Cancel</button>
                <button id="delete-but" >Logout</button>
            </div>
        </div>
    </div>
    
    
{% endblock body_block %}
    