{% extends "base.html" %}
{% load static %}



{% block head_block %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/quizzes_page/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/navbar_student.css' %}">
    <script> document.cookie = "csrftoken={{ csrf_token }}"; // Set CSRF token in cookies  </script>
    <script defer src="{% static 'javascript/student_leaderboard/script.js' %}"></script>
    <script defer src="{% static 'javascript/student_dashboard/script.js' %}"></script>
    <script defer src="{% static 'javascript/quizzes_page/script.js' %}"></script>
    
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    
{% endblock head_block %}
    



{% block body_block %}


    {% include 'components/navbar_student.html' %}

    <main>
        <section class="quiz">
        <div class="wrapper-leaderboard">
            <div class="leaderboard-header">
                <a href="{% url 'student-quizzespage' %}">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.0002 26.6673L9.3335 16.0007L20.0002 5.33398" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                </a>     
            <h1 class="raleway-bold" id="leaderboards-type">Leaderboards</h1>
            </div><!--leaderboard-header-->
            
            <div class="leaderboard-table">
                <div class="leaderboard-table-card roboto-regular">
                    <div>
                        <p></p>
                    </div>
                    <div>
                        <p>Points</p>
                    </div>
                    <div>
                        <p>Total Quizzes</p>
                    </div>
                    <div>
                        <p>Correct %</p>
                    </div>
                    <div>
                        <p>Wrong %</p>
                    </div>
                </div>

                <div id="leaderboard-table" class="leaderboard-table-card roboto-bold">
                    
                </div>

            </div>
        </div>


      

        <div class="pop-up" id="logout-form-pop" style="display: none;">
        <div class="pop-up-content">
            <h1 class="raleway-bold">Logout</h1>
            <h6 class="raleway-regular">Are you sure you want to logout?</h6>
            <div class="pop-up-but">
                <button id="cancel-logout-but">Cancel</button>
                <button id="logout-but" >Logout</button>
            </div>
        </div>
    </div>

        </section>
    </main>
    
{% endblock body_block %}
    