{% extends "base.html" %}
{% load static %}



{% block head_block %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/quizzes_page/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/navbar_student.css' %}">
    <script> document.cookie = "csrftoken={{ csrf_token }}"; // Set CSRF token in cookies  </script>
    <script defer src="{% static 'javascript/quizzes_page/script.js' %}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
{% endblock head_block %}
    



{% block body_block %}


    {% include 'components/navbar_student.html' %}

    <main>
        <section class="quiz">
        <div class="wrapper-quiz leaderboard">
        <a href="{% url 'student-quizzespage' %}">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 20L7 12L15 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </a>     
        <h1 class="raleway-bold">Leaderboards</h1>
        </div>

        <div class="wrapper-leaderboard">
             <ol class="roboto-regular">
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
            <ol>
        </div>
   

         <div class="pop-up" id="logout-form-pop" style="display: none;">
        <div class="pop-up-content">
            <h1 class="raleway-bold">Logout</h1>
            <h6 class="raleway-regular">Are you sure you want to logout?</h6>
            <div class="pop-up-but">
                <button id="cancel-logout-but">Cancel</button>
                <button id="logout-but" >Logout</button>
            </div>
        </div>
    </div>

        </section>
    </main>
    
{% endblock body_block %}
    