{% extends "base.html" %}
{% load static %}



{% block head_block %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/student_dashboard/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/navbar_student.css' %}">
    <script> document.cookie = "csrftoken={{ csrf_token }}"; // Set CSRF token in cookies  </script>
    <script defer src="{% static 'javascript/student_dashboard/script.js' %}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
{% endblock head_block %}
    



{% block body_block %}


    {% include 'components/navbar_student.html' %}

    <main>
        <section class="quiz">
        <div class="wrapper-quiz">
            <h1 class="raleway-bold">List of Quizzes</h1>
            <button class="roboto-bold">Upload Quiz</button>
        </div>
        <div class="wrapper">
            <div class="card-small most-recent-quiz">
                <h3 class="raleway-bold">Most Recent Quiz</h3>
                <p class="raleway-bold quiz-title"></p><br>
                <p class="roboto-bold score-set"></p><br>
                <p class="roboto-light">Status: <span id="quiz-status"></span><br>
                <button class="roboto-bold view-quiz-button" id="view-quiz-button">View</button>
            </div>
        </div>
        </section>
    </main>
    
{% endblock body_block %}
    