{% extends "base.html" %}
{% load static %}



{% block head_block %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/student_dashboard/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/navbar_student.css' %}">
    <script> document.cookie = "csrftoken={{ csrf_token }}"; // Set CSRF token in cookies  </script>
    <script defer src="{% static 'javascript/student_dashboard/script.js' %}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
{% endblock head_block %}
    



{% block body_block %}


    {% include 'components/navbar_student.html' %}

    <main>
        <section class="quiz">
        <div class="wrapper-quiz">
            <h1 class="raleway-bold">List of Quizzes</h1>
            <button id="uploadQuizButton" class="roboto-bold">Upload Quiz</button>
        </div>
        <div class="wrapper">
            <div class="card-small most-recent-quiz">
                <h3 class="raleway-bold">Most Recent Quiz</h3>
                <p class="raleway-bold quiz-title"></p><br>
                <p class="roboto-bold score-set"></p><br>
                <p class="roboto-light">Status: <span id="quiz-status"></span><br>
                <button class="roboto-bold view-quiz-button" id="view-quiz-button">View</button>
            </div>
        </div>
       <!-- Upload Quiz Modal -->
        <div id="uploadQuizModal" class="modal">
            <div class="modal-content">
                <div class="upload-box">
                   <svg width="100%" height="100%" viewBox="0 0 200 200">
                        <path d="M 15,5 H 185 A 10 10 0 0 1 195 15 V 185 A 10 10 0 0 1 185 195 H 15 A 10 10 0 0 1 5 185 V 15 A 10 10 0 0 1 15 5 Z"
                            stroke="rgba(0, 33, 87, 0.5)" fill="transparent"
                            stroke-width="2.5" stroke-dasharray="12, 8" />
                    </svg>

                    <div class="upload-content">
                        <!-- Upload icon -->
                        <svg width="169" height="200" viewBox="0 0 169 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M94.9997 4H78.9997H36.333C18.6599 4 4.33301 18.3269 4.33301 36V164C4.33301 181.674 18.6599 196 36.333 196H78.9997M94.9997 4L153.666 64M94.9997 4V53.3333C94.9997 59.2243 99.7751 64 105.666 64H153.666M153.666 64V98" stroke="#002157" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M137.667 196V132M137.667 132L164.333 158.667M137.667 132L111 158.667" stroke="#002157" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                        <h2 class="raleway-bold">Drag and Drop file to upload</h2>
                        <p class="roboto-regular">or</p>
                        <button class="roboto-bold">Upload file</button>
                        <p class="roboto-regular grey">Supported files: .pdf, .docx, .txt</p>
                    </div>
                </div>

            </div>
        </div>

        </section>
    </main>
    
{% endblock body_block %}
    