body {
    background-color: var(--secondary);
}


#delete-but{  
    background: var(--dark-red);
    color: var(--background);
  }


#save-but{
    background: var(--primary);
    color: var(--background);
}

#success-but{
    background: var(--green);
    color: var(--background);
}


.dashboard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    height: fit-content; 
    flex-direction: column;
    width: 100%;
    scroll-margin-top: 120px;  
}

.montly-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%; 
    height: fit-content; 
    flex-direction: column;

    box-sizing: border-box;
    background: var(--background);
    border: 2px solid var(--outline);
    border-radius: 16px;
    padding-bottom: 12px;
} 

.montly-container h1{
    padding: 0;
    margin: 20px 0;  
    align-self: flex-start;
    margin-left: 34px; 
    font-size: 24px;
    line-height: 28px; 
    color: var(--text); 
}

.monthly-chart{
    width: 90%;
    height: 300px;
}


.numbering-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    width: 90%; 
    height: fit-content; 
    flex-direction: row;
    column-gap: 24px;
}

.numbering-layout{
    display: flex; 
    box-sizing: border-box;
    flex-direction: column;
    width:auto;
    flex:1;
    height: 340px;
    background: var(--background);
    border: 2px solid var(--outline);
    border-radius: 16px; 
    justify-content: center;
    align-items: center;
}

.ranking-layout{
    display: flex;
    flex-direction: column;
}

.ranking-layout h1{
    width: 90%;   
    font-size: 24px;
    line-height: 28px; 
    color: var(--text);
    padding: 0;
    margin: 0;
    margin-left: 12px;
    text-align: left;
    width: fit-content;
    height: fit-content;
}


.rank-weekly{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;
    flex-direction: row;
    margin-top: 10px;

}

.rank-weekly-first{
    margin-top: 25px;
}

.rank-weekly h5{  
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}

.rank-weekly h6{
    font-size: 14px;
    line-height: 28px;
    color: var(--text);
}
.rank-weekly h5, .rank-weekly h6{
    padding: 0;
    margin: 0;
}

.rank-weekly svg{
    width: 34px;
    height: 34px;
}



.student-counting{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}


.student-counting h3{
    width: 90%;   
    font-size: 18px;
    line-height: 28px; 
    color: var(--text);
    padding: 0;
    margin: 0;
    margin-left: 24px;
    text-align: left;
    width: fit-content;
    height: fit-content; 
    align-self: flex-start;
    padding-top: 35px;
}


.students-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
}

.students-data h1{  
    font-size: 96px; 
    text-align: center;
    color: var(--text); 
}

.students-data h6{  
    font-size: 25px; 
    text-align: center;
    color: var(--text); 

}

/* list of registered users */

.wrapper {
    padding: 2em 4em;
    background: var(--background);
    border: 2px solid var(--outline);
    border-radius: 16px; 
    width: 90%;
    margin: 1.5em auto;
}

.wrapper h1 {
    margin-bottom: 1em;
}

/* search bar */

.search-container {
    width: 40%;
    display: flex;
    align-items: center; 
    background: #F1F1EE;
    border-radius: 8px;
    border: 2px solid var(--outline);
    padding: 0.5em 0;
    margin: 1em 0;
}

.search-icon {
    margin: 0 1em;    
}

.search-container input{
    width: 100%;
    font-size: 1rem;
    font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
    background: none;
    border: none;
}

.search-container input:focus{
    outline: none; 
    background: transparent; 
    border: none
}




.list-of-user-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    height: 500px;
    overflow-y: scroll; 
    margin-top: 24px;
}

.list-of-users{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    flex-direction: column; 
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.user-card{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; 
    transition: all 0.2s ease-in-out;
    border-radius: 8px; 
    cursor: pointer;
    animation: fade-in 0.5s ease-in-out;
}

.user-card:hover{ 
    background: #F1F1EE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-card h6{
    margin: 0;
    padding: 0; 
    flex: 1; 
    font-size: 14px;
    line-height: 24px;
    color: var(--text); 

}

.user-card h3{
    margin: 0;
    padding: 0; 
    flex: 1;
    text-align: left;
    margin-left: 1.5em;
    font-size: 16px;
    line-height: 24px;
    color: var(--text);
    
}

.user-card svg{
    width: 40px;
    height: 40px;
    margin-left: 4em; 
}

.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-self: flex-end; 
    margin-right: 1em;
    column-gap: 0.5em;
}

.buttons-container button{ 
    width: 121px; 
    padding: 5px 0;  
    border-radius: 6px;
    border: none;
    font-size: 16px;
    line-height: 23px;
    text-align: center; 
    color: var(--background); 
}

.buttons-container button:nth-child(1){ 
    background: var(--primary);  
    cursor: pointer;
}

.buttons-container button:nth-child(2){ 
    background: var(--gold);
    cursor: pointer;
}

.buttons-container button:nth-child(3){ 
    background: var(--dark-red);
    cursor: pointer;
}

