/* body */

body {
    background-color: #EFEFF0;
}

/* dashboard */

.dashboard {
    width: 90%;
    padding: 4em 2em;
    margin: 2em auto;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper:not(:last-child) { /* naol nag pseudo-classes na */
    margin-bottom: 4em;
}

.card-small,
.card-large {
    background-color: #FCFCFC;
    padding: 2em;
    border: 2px solid #C1BFBF;
    border-radius: 8px;
}

.card-small {
    width: 20%;
    max-width: 320px;
}

.card-large {
    width: 46.75%;
}