{% extends "base.html" %}
{% load static %}



{% block head_block %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/game_quiz/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/navbar_gamequiz.css' %}">
 
    <script defer src="{% static 'javascript/game_quiz/script.js' %}"></script>

{% endblock head_block %}

{% block body_block %}

    <div class="background-wrapper">
        {% include 'components/navbar_gamequiz.html' %}

        <video autoplay loop muted plays-inline class="background-webm">
        <source src="{% static 'css/game_quiz/wwtbam_01.webm' %}" type="video/webm">
        </video>

        <div class="question-wrapper">
            <div class="question">        
                <svg width="100%" height="auto" viewBox="0 0 1304 256" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <!--shape-->
                    <path d="M5.78601 123.903L9.22158 125.951L5.78601 123.903C4.28088 126.427 4.28087 129.573 5.78601 132.097L9.22158 130.049L5.78601 132.097L74.9564 248.097C76.3996 250.517 79.0096 252 81.8275 252H1222.17C1224.99 252 1227.6 250.518 1229.04 248.097L1298.21 132.097C1299.72 129.573 1299.72 126.427 1298.21 123.903L1229.04 7.90284C1227.6 5.48248 1224.99 4 1222.17 4H81.8275C79.0097 4 76.3996 5.4825 74.9564 7.90276L5.78601 123.903Z" fill="#0F0A0A" stroke="#3D68B8" stroke-width="8"/>
                   
                    <foreignObject x="10" y="3" width="100%" height="100%">
                        <!-- HTML content inside SVG -->
                        <div class="question-text raleway-regular" xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, 
                            sunt in culpa qui officia deserunt mollit anim id est laborum?-->
                            <!--one two three four five six seven eight nine ten 
                            eleven twelve thirteen fourteen fifteen sixteen seventeen eighteen nineteen twenty 
                            twenty-one twenty-two twenty-three twenty-four twenty-five twenty-six twenty-seven twenty-eight twenty-nine thirty 
                            thirty-one thirty-two thirty-three thirty-four thirty-five thirty-six thirty-seven thirty-eight thirty-nine forty-->
                            question goes here
                            </p>
                        </div>
                    </foreignObject>
                </svg>
            </div> <!--question-->
           
            <div class="choices">
                <!--a-->
                <svg width="100%" height="auto" class="svg-choice-A" viewBox="0 0 600 84" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M558.737 4H41.2635C39.0815 4 36.9943 4.89123 35.4852 6.46722L6.75973 36.4672C3.79742 39.561 3.79741 44.439 6.75973 47.5328L35.4852 77.5328C36.9943 79.1088 39.0816 80 41.2635 80H558.737C560.918 80 563.006 79.1088 564.515 77.5328L593.24 47.5328C596.203 44.439 596.203 39.561 593.24 36.4672L564.515 6.46722C563.006 4.89122 560.918 4 558.737 4Z" fill="#0F0A0A" stroke="#3D68B8" stroke-width="8"/>
                <foreignObject x="40" y="21" width="80%" height="50%">
                    <div class="multiple-choice choice-A" xmlns="http://www.w3.org/1999/xhtml">
                        <!-- Content inside the foreignObject -->
                        <div class="letter">
                            <p class="roboto-bold">•A:</p>
                        </div>
                        <div class="answer">
                            <p class="roboto-regular" id="choice-A">Lorem</p>
                        </div>
                    </div>
                </foreignObject>
                </svg>

                <!--b-->
                <svg width="100%" height="auto"class="svg-choice-B" viewBox="0 0 600 84" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M558.737 4H41.2635C39.0815 4 36.9943 4.89123 35.4852 6.46722L6.75973 36.4672C3.79742 39.561 3.79741 44.439 6.75973 47.5328L35.4852 77.5328C36.9943 79.1088 39.0816 80 41.2635 80H558.737C560.918 80 563.006 79.1088 564.515 77.5328L593.24 47.5328C596.203 44.439 596.203 39.561 593.24 36.4672L564.515 6.46722C563.006 4.89122 560.918 4 558.737 4Z" fill="#0F0A0A" stroke="#3D68B8" stroke-width="8"/>
                <foreignObject x="40" y="21" width="80%" height="50%">
                    <div class="multiple-choice choice-B" xmlns="http://www.w3.org/1999/xhtml">
                        <!-- Content inside the foreignObject -->
                        <div class="letter">
                            <p class="roboto-bold">•B:</p>
                        </div>
                        <div class="answer">
                            <p class="roboto-regular" id="choice-B">Lorem</p>
                        </div>
                    </div>
                </foreignObject>
                </svg>

                <!--c-->
                <svg width="100%" height="auto"class="svg-choice-C" viewBox="0 0 600 84" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M558.737 4H41.2635C39.0815 4 36.9943 4.89123 35.4852 6.46722L6.75973 36.4672C3.79742 39.561 3.79741 44.439 6.75973 47.5328L35.4852 77.5328C36.9943 79.1088 39.0816 80 41.2635 80H558.737C560.918 80 563.006 79.1088 564.515 77.5328L593.24 47.5328C596.203 44.439 596.203 39.561 593.24 36.4672L564.515 6.46722C563.006 4.89122 560.918 4 558.737 4Z" fill="#0F0A0A" stroke="#3D68B8" stroke-width="8"/>
                <foreignObject x="40" y="21" width="80%" height="50%">
                    <div class="multiple-choice choice-C" xmlns="http://www.w3.org/1999/xhtml">
                        <!-- Content inside the foreignObject -->
                        <div class="letter">
                            <p class="roboto-bold">•C:</p>
                        </div>
                        <div class="answer">
                            <p class="roboto-regular" id="choice-C">Lorem</p>
                        </div>
                    </div>
                </foreignObject>
                </svg>

                <!--d-->
                <svg width="100%" height="auto" class="svg-choice-D" viewBox="0 0 600 84" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M558.737 4H41.2635C39.0815 4 36.9943 4.89123 35.4852 6.46722L6.75973 36.4672C3.79742 39.561 3.79741 44.439 6.75973 47.5328L35.4852 77.5328C36.9943 79.1088 39.0816 80 41.2635 80H558.737C560.918 80 563.006 79.1088 564.515 77.5328L593.24 47.5328C596.203 44.439 596.203 39.561 593.24 36.4672L564.515 6.46722C563.006 4.89122 560.918 4 558.737 4Z" fill="#0F0A0A" stroke="#3D68B8" stroke-width="8"/>
                <foreignObject x="40" y="21" width="80%" height="50%">
                    <div class="multiple-choice choice-D" xmlns="http://www.w3.org/1999/xhtml">
                        <!-- Content inside the foreignObject -->
                        <div class="letter">
                            <p class="roboto-bold">•D:</p>
                        </div>
                        <div class="answer">
                            <p class="roboto-regular" id="choice-D">Lorem</p>
                        </div>
                    </div>
                </foreignObject>
                </svg>
            </div><!--choices-->
        </div><!--question-wrapper-->

        <div class="stats-panel">
            <div class="power-ups"><!--left-stats-->
                <button id="50-50">
                    50:50
                </button>
                <button id="ask-ai">
                    AI
                </button>
                <button id="x2">
                    x2
                </button>
                <button id="pass">
                    PASS
                </button>
            </div>
            <div class="level-info"><!--right-stats button-->
                <div class="q-level roboto-bold">
                    Q 01
                </div>
                <div class="points roboto-light">
                    ₱10
                </div>
            </div>
        </div><!--stats-panel-->
    </div> <!--background-wrapper-->

<!-- modals -->
    <div class="ingame-settings-wrapper" id="ingame-settings" style="display: none;">
        <div class="ingame-settings-content">
                <h1 class="raleway-bold">Game Settings</h1>
                <form>
                    <div class="switch-wrapper">
                        <div>
                            <p class="roboto-regular">Music:</p>
                        </div>
                        <div>
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                            </label>
                        </div>
                    </div>

                    <div class="switch-wrapper">
                        <div>
                            <p class="roboto-regular">Sound:</p>
                        </div>
                        <div>
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                            </label>
                        </div>
                    </div>
                    
                    <div class="switch-wrapper">
                        <div>
                            <p class="roboto-regular">Voice:</p>
                        </div>
                        <div>
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                            </label>
                        </div>
                    </div>

                    <div class="ingame-buttons">
                        <button class="roboto-bold" id="cancel-ingame-but">Cancel</button>
                        <button class="roboto-bold" id="confirm-ingame-but" >Confirm</button>
                        <button class="roboto-bold" id="about-game-but" >About Game</button>
                    </div>
                    
                </form>
                <p class="roboto-light">GAMIQ 2025</p>
            </div>
        </div>
    </div>
    
    <div id="modal" class="modal" style="display: none;">
        <div class="modal-content">
            <div class="list" id="list"></div>
            <p class="roboto-bold">TOTAL:</p>
        </div>
    </div>

     <div class="pop-up" id="confirmation-form-pop" style="display: none;">
        <div class="pop-up-content">
            <h1 class="raleway-bold">Is that your final answer?</h1>
            <div class="pop-up-but">
                <button id="cancel-confirmation-but">No</button>
                <button id="confirm-confirmation-but" >Yes</button>
            </div>
        </div>
    </div>

    <div class="pop-up" id="50-form-pop" style="display: none;">
        <div class="pop-up-content">
            <h1 class="raleway-bold">50 : 50</h1>
            <h6 class="roboto-regular">Removes <strong>two incorrect answers</strong> from the choices by random.</h6>
            <div class="pop-up-but">
                <button id="cancel-50-but">Cancel</button>
                <button id="confirm-50-but" >Confirm</button>
            </div>
        </div>
    </div>

    <div class="pop-up" id="ai-form-pop" style="display: none;">
        <div class="pop-up-content">
            <h1 class="ai-form-title raleway-bold">Ask the AI</h1>
            <h6 class="ai-form-text roboto-regular">Use <strong>AI</strong> for assistance in finding the answer</h6>
            <div class="pop-up-but">
                <button id="cancel-ai-but">Cancel</button>
                <button id="confirm-ai-but" >Confirm</button>
            </div>
        </div>
    </div>

    <div class="pop-up" id="x2-form-pop" style="display: none;">
        <div class="pop-up-content">
            <h1 class="raleway-bold">Double Dip</h1>
            <h6 class="roboto-regular">Gives you <strong>two chances</strong> to answer the question.</h6>
            <div class="pop-up-but">
                <button id="cancel-x2-but">Cancel</button>
                <button id="confirm-x2-but" >Confirm</button>
            </div>
        </div>
    </div>

    <div class="pop-up" id="pass-form-pop" style="display: none;">
        <div class="pop-up-content">
            <h1 class="raleway-bold">Pass</h1>
            <h6 class="roboto-regular"><strong>Changes</strong> the current question.</h6>
            <div class="pop-up-but">
                <button id="cancel-pass-but">Cancel</button>
                <button id="confirm-pass-but" >Confirm</button>
            </div>
        </div>
    </div>
{% endblock body_block %}
    
