

.navbar {
    padding: 2.25em 4.5em;
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}

.navbar img {
    width: 100%;
    max-width: 64px;
}

.navbar h1 {
    color: var(--text);
    font-size: 32px;
}

.navbar span {
    color: var(--primary);
}