.navbar {
    padding: 2.25em 4.5em;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 1em;
}

.navbar img {
    width: 100%;
    max-width: 64px;
}

.navbar h1 {
    font-family: "Raleway";
    color: #0F0A0A;
    font-size: 32px;
    font-weight: 800;
}

.navbar span {
    color: #002157;
}