

.navbar {
    padding: 2.25em 4.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.left {
    display: flex;
    align-items: center;
    gap: 0.75em;
}

.navbar img {
    width: 100%;
    max-width: 64px;
}

.navbar h1 {
    color: var(--text);
    font-size: 1rem;
    font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
    font-size: 32px;
}

.navbar span {
    color: var(--primary);
}