
.raleway-regular {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .roboto-light{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .roboto-regular{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .roboto-semibold{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .roboto-extrabold {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  



  
.pop-up{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}



.pop-up-content{  
  box-sizing: border-box; 
  width: 500px;
  height: fit-content;
  padding-top: 34px;
  padding-bottom: 34px;
  background: #FCFCFC;
  border: 2px solid rgba(15, 10, 10, 0.25);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.pop-up-content h1{
  padding: 0;
  margin: 20px 0; 
  text-align: center;  
  font-size: 35px;
  line-height: 56px;
  text-align: center; 
  color: #0F0A0A; 
}

.pop-up-content h6{
  padding: 0 20px;
  margin: 20px 0; 
  text-align: center;   
  line-height: 35px;
  text-align: center; 
  color: #0F0A0A;   
  font-size: 25px;   
}


.pop-up-but{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  padding-top: 34px;
}

.pop-up-but button{  
  width: 178px;
  height: 34px;  
  border-radius: 4px;   
  font-size: 16px; 
  text-align: center;
  color: #0F0A0A;
  border: none;
  cursor: pointer;
}

#logout-but {  
  background: #C80A0A;
  color: #FDFDFD;
}